<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.ACTIVITY_RECOGNITION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_MEDIA_PLAYBACK" />

    <application
        android:name="io.duckcat.d.HiltBreatheApp"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:enableOnBackInvokedCallback="true"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"


        android:supportsRtl="true"
        android:theme="@style/Theme.Breathe"
        android:usesCleartextTraffic="false"
        tools:targetApi="33">

        <activity
            android:name="io.duckcat.d.presentation.MainActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Breathe"
            tools:ignore="DiscouragedApi,LockedOrientationActivity">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>

        <provider
            android:name="androidx.startup.InitializationProvider"
            android:authorities="${applicationId}.androidx-startup"
            android:exported="false"
            tools:node="merge">

            <meta-data
                android:name="androidx.work.WorkManagerInitializer"
                android:value="androidx.startup"
                tools:node="remove" />

        </provider>

        <service
            android:name="io.duckcat.d.framework.service.SoundscapePlaybackService"
            android:exported="false"
            android:foregroundServiceType="mediaPlayback">

            <intent-filter>
                <action android:name="androidx.media3.session.MediaLibraryService" />
                <action android:name="android.media.browse.MediaBrowserService" />
                <action android:name="androidx.media3.session.MediaSessionService" />
            </intent-filter>

        </service>



<!--            <intent-filter>-->

<!--&lt;!&ndash;                <action android:name="android.intent.action.BOOT_COMPLETED" />&ndash;&gt;-->
<!--&lt;!&ndash;                <action android:name="android.intent.action.QUICKBOOT_POWERON" />&ndash;&gt;-->

<!--                <category android:name="android.intent.category.DEFAULT" />-->

<!--            </intent-filter>-->



    </application>

</manifest>